
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}    
    <a href="{%url 'worddetail'%}">detail</a>   <!--detail로 넘어가기-->

    <form action="{%url 'wordresult'%}">
    <textarea name="fulltext" cols="40" rows="10">  </textarea> <!--텍스트상자--> 
    <br>
    <input type="submit" value="Count!">   
    </form>


{% endblock %}
</body>
</html>


